<div class="bg-teal-500 text-white p-6 rounded-lg shadow-md text-xl font-bold text-center mt-8">
    しりとりゲームを開始しよう！
</div>
<div class="flex flex-col items-center justify-center min-h-screen font-bold bg-base-200 p-6">
    <%= render 'games/game_new_form' %>
</div>
<div id="game_play_start"></div>
