<%= link_to 'ルートに戻る', root_path, data: { turbo: false } , class: 'btn btn-primary' %>
<div class="alert alert-error">
  <span>エラーメッセージです。DaisyUIのスタイルを使用しています</span>
</div>
<div class="alert alert-info">
  <span>情報メッセージです。DaisyUIのスタイルを使用しています</span>
</div>
