<div id="game_new_message">
  <h2>新しいしりとりゲームが作成されました！</h2>
  <p>ゲームID: <%= game.id %></p>
  <%= link_to 'ゲームを開始', shiritori_game_path(@game.id), data: { turbo: true }, class: 'button is-primary' %>
</div>