.error-messages {
  color: rgb(255, 8, 0) ;
  font-weight: bold ;
}

.message-joined {
  color: rgb(0, 0, 255) ;
  font-weight: bold ;
}

.message-left{
    color: rgb(0, 0, 0) ;
    font-weight: bold ;
}